
svg{
  width: 300px;
}
.cls-1{
  fill: white;
  stroke-width: 5px;
  stroke:rgb(5, 18, 203);
  stroke-dasharray: 200;
  fill-opacity: 0;
}
.cls-2{
  fill: white;
  stroke-width: 5px;
  stroke:rgb(5, 18, 203);
  stroke-dasharray: 200;
  fill-opacity: 0;

}
.cls-3{
  fill: black;
  stroke-width: 2px;
  stroke: white;
  stroke:rgb(5, 18, 203);
  stroke-dasharray: 200;
  fill-opacity: 0;
}
.cls-4{
  fill: black;
  stroke-width: 2px;
  stroke: white;
  stroke:rgb(5, 18, 203);
  stroke-dasharray: 200;
  fill-opacity: 0;
}
.cls-5{
  fill: black;
  stroke-width: 2px;
  stroke: white;
  stroke:rgb(5, 18, 203);
  stroke-dasharray: 200;
  fill-opacity: 0;
}

.cls-1, .cls-2, .cls-3, .cls-4, .cls-5{
  stroke-dashoffset: 1000;
  animation: dash 5s linear forwards;

}


@keyframes dash {
  to {
    transition: all 5s ease-in-out;
    stroke-dashoffset: 0;
    fill-opacity: 1;
    stroke: white;
    stroke-dasharray: none;
    stroke-dashoffset: 0;
  }
}
