<div class="grid grid-cols-5 gap-4 mt-10 p-5">
  <div>
      <img class="h-auto max-w-full rounded-lg" src="https://picsum.photos/1000/1000?random=1" alt="">
  </div>
  <div>
      <img class="h-auto max-w-full rounded-lg" src="https://picsum.photos/1000/1000?random=2" alt="">
  </div>
  <div>
      <img class="h-auto max-w-full rounded-lg" src="https://picsum.photos/1000/1000?random=3" alt="">
  </div>
  <div>
      <img class="h-auto max-w-full rounded-lg" src="https://picsum.photos/1000/1000?random=4" alt="">
  </div>
  <div>
      <img class="h-auto max-w-full rounded-lg" src="https://picsum.photos/1000/1000?random=5" alt="">
  </div>
</div>
